.contact-form{
  inline-size: 80%;
  margin: auto;
}

.contact-form >* {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  font-family:Arial, Helvetica, sans-serif;
  inline-size: 70%;
}

.contact-form input{
  border: 1px solid var(--grey-color);
  border-radius: 5px;
}

.contact-form textarea{
  resize: none;
  border-radius: 5px;
}

.contact-form legend,
.contact-form-response{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input[type="submit"]{
  inline-size: 15%;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
}

.contact-form *::placeholder{
  color: var(--grey-color);
}

.contact-form [required]:valid{
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
  border: thin solid var(--form-error-color);
}

.contact-form input[type="submit"]:hover{
  background-color: var(--grey-color);
  color: aliceblue;

}

.contact-form-error{
  margin-block-start: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: var(--white-color);
  transition: all 800ms ease;
}

.contact-form-error.is-active{
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
  display: none;
}

@keyframes show-message {
   0%{
    visibility: hidden;
    opacity: 0;
   }

   100%{
    visibility: visible;
    opacity: 1;
   }
}