.main-button {
  position: fixed;
  z-index: 999;
  inline-size: 4rem;
  block-size: 4rem;
  border-radius: 50%;
  padding: 0;
  background-color: var(--main-color);
  border: none;
  color: var(--second-color);
  cursor: pointer;
  outline: none;
}

