.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 15px;
  left: 0;
  top: 0;
  inline-size: 100%;
  block-size: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding-block-start: 110px;
  font-size: 30px;
  font-weight: bold;
  color: #F8E009;
}

.modal a:hover {
  color: black;
  text-decoration: underline;
}

/* The Close Button */
.close {
  color: #FFF;
  float: right;
  font-size: 38px;
  font-weight: bold;
  margin-inline-end: 20px;
  margin-top: 2px;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}