.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.card-filter{
  border-radius: 20px;
  outline: none;
  padding: .3rem;
  padding-inline: 1rem;
  border: none;
  background-color: grey;
  color: var(--main-color);
}
.card-filter::placeholder{
 color: var(--main-color);
}

.card{
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}

.card img{
  inline-size: 100%;
  block-size: auto;
}

.card figcaption{
  padding: 1rem;
}

.filter{
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  order: 1;
}
