.main {
  position: relative;
  z-index: 1;
}

.section {
  border: 1px solid red;
  block-size: 100vh;
}

.section h1 {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 30px;
}

