.tester {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.tester input{
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.buttonForm input{
  background-color: var(--main-color);
}